@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#divLogotipoSistema {
  background-color: #1e9bde;
  height: 70px;
}

span#spanAuxiliarDeAlinhamentoVertical {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

img#imgLogotipoSistema {
  height: 60%;
  vertical-align: middle;
}

img#imgIconeUsuario {
  width: 100px;
}

h1 {
  color: #1e9bde;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-style: italic;
  font-size: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-left: 10px solid #1e9bde;
  border-right: 10px solid #1e9bde;
  border-top: 2px solid #1e9bde;
  border-bottom: 2px solid #1e9bde;
  border-radius: 30px;
}

div#mensagemDeErro, div#mensagemDeSucesso {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 20px;
}

div#mensagemDeErro {
  background-color: #f44336;
  color: #fff;
}

div#mensagemDeSucesso {
  background-color: #4caf50;
  color: #fff;
}

div#divUsuarioLogado {
  background-color: #7bc2e5;
  color: #ffffff;
  line-height: 40px;
}

img#imgIconeCarrinho {
  height: 50px;
}

fieldset {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}

input, textarea, select {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 45px;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

textarea {
  height: 100px;
}

input:focus, textarea:focus, select:focus {
  border-color: #1e9bde;
  outline: none;
}

input[type=button], input[type=submit] {
  background-color: #1e9bde;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto; /* Define a largura do botão como 100%, igual aos campos de input */
  display: inline-block /* Garante que o padding seja considerado dentro da largura total */
}
.divBotoes {
  display: flex;
  justify-content: center; /* Centraliza os botões na horizontal */
  gap: 10px; /* Espaçamento entre os botões */
}

input[type=button]:hover, input[type=submit]:hover {
  background-color: #156da1;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  font-size: 14px;
  border-spacing: 1px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

th {
  background-color: #1e9bde;
  color: #ffffff;
  text-transform: uppercase;
  padding: 3px;
}

td {
  padding: 3px;
}

div#divCategoriasComidaOpcao {
  background-color: #ffffff;
  height: 130px;
  float: left;
}

div#divCategoriasComidaGeral {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

img#imgCategoriaComida {
  height: 50%;
}

fieldset#fieldsetFiltros {
  border-width: 3px;
}

input#inputSelecionado {
  background-color: #69c5ee;
  border-color: #1e9bde;
}

img#imgRestauranteOpcao {
  height: 130px;
}

span#restauranteOpcaoTitulo {
  font-weight: bold;
  text-transform: uppercase;
}

div#divRestauranteOpcao {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.inputError {
  border: 2px solid #ff2828;
}


/* Label --------------------------------------- */
label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: left; /* Alinhamento à esquerda */
}

/* Input */
input[type="text"], input[type="password"], input[type="email"], textarea {
  width: 100%; /* A largura será 100% para preencher o contêiner */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Animação para foco */
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  border-color: #1e9bde; /* Cor de destaque no foco */
  box-shadow: 0 0 5px rgba(30, 155, 222, 0.5); /* Sombra ao focar */
  outline: none;
}
